:root {
  --main-bg-color: #000;
  --primary-text-color: #ffffff;
  --accent-color: #880808;
  --main-font: "Roboto Mono", monospace, sans-serif;
}

code,
pre {
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
}

h3,
h1:hover {
  cursor: default;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

/* Common */
.rounded-image-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
}
.breaker {
  margin: 10vh auto;
  width: 75vw;
  border: none;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    var(--accent-color),
    var(--accent-color),
    transparent
  );
}

.section-title {
  color: var(--accent-color);
  font-size: 42px;
}
.rounded-image {
  width: 50%;
  max-width: 600px;
  border-radius: 50%;
}

/* Header section */
header {
  display: flex;
  background-color: transparent;
  height: 80px;
  padding: 10px 26px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  z-index: 50;
}

.brand-text {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  font-family: var(--main-font);
  margin-top: 0.67em; /* Example of default margin */
  margin-bottom: 0.67em; /* Example of default margin */
}

.navigation-bar {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 0.7em;
}

nav a {
  margin: 0 14px;
  font-size: 22px;
  color: var(--primary-text-color);
  text-underline-offset: 4px;
}

nav a:hover {
  text-underline-offset: 6px;
  transition: all;
}

.social-media-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px;
}
.social-media-icons a {
  margin-bottom: 8px;
}

/* Hero Banner */

.hero-banner {
  background-image: url("assets/images/Banner.JPG");
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
}

.hero-image-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.hero-banner-text-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero-banner-title h1 {
  overflow: hidden;
  font-size: 32px;
  white-space: nowrap;
  border-right: 0.1em solid white;
  margin: 0 auto 0 0;
  letter-spacing: 0.15em;
  animation:
    typing 6.5s steps(41) infinite,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  45% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* About */
.about-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.about {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text {
  width: 50%;
  text-align: justify;
  font-size: 26px;
}

/* Work */
.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}

.work-article {
  margin-top: 4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.work-text-container {
  width: 50%;
}
.work-title {
  margin-top: 0;
  font-size: 34px;
}
.work-text {
  font-size: 22px;
  text-align: justify;
}
.work-links-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
}

.work-article-bottom-line {
  width: 100%;
  margin-top: 18px;
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--accent-color));
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -6px 8px 1px var(--accent-color);
}
